<h1>Single Sign On with Angular 16   Example</h1>

<button  *ngIf="isLoggedIn" type="button" (click)="logout()">Log out</button>
<button  *ngIf="!isLoggedIn" type="button" (click)="login()">Log in</button>

<ng-container *ngIf="isLoggedIn">
  <h2>User information from Backend</h2>
  <table>
   <tr>
     <th scope="row">Name</th>
     <td>{{ user.username}}</td>
   </tr>
   <tr>
     <th scope="row">Email</th>
     <td>{{ user.email }}</td>
   </tr>
 </table>
  <h2>User information from Keycloak</h2>


  <br>
  <button  type="button" (click)="getUserMessage()">api test</button>
</ng-container>